# API Call
- Input file ('Resources/col_rename_df_updated.csv')
- Output file ('Resources/merged_col_rename_df_updated.csv')

In [1]:
import time
from geopy.geocoders import Nominatim
import pandas as pd
import numpy as np
import re

In [2]:
# Initialize Nominatim API
geolocator = Nominatim(user_agent="MyApp")

In [3]:
col_rename_df_updated = pd.read_csv('Resources/col_rename_df_updated.csv')
col_rename_df_updated.head(5)

,Unnamed: 0,Name,Rank,Industry,Headquarters_State,Revenues,Year,Revenue_Percent_Change,Profits,Profits_Percent_Change,...,Profitable,Growth_in_Jobs,Sector,Revenues_($M),Profits_($M),Employees,Global_500,Change_in_Rank_(Full 1000),Change_in_Rank_(500 only),Headquarters_City
0,0,General Motors Corporation,1,Motor Vehicles and Parts,MI,"16,882,860",1996,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Detroit
1,1,Ford Motor Company,2,Motor Vehicles and Parts,MI,"13,713,700",1996,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Dearborn
2,2,Exxon Corporation,3,Petroleum Refining,TX,"11,000,900",1996,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,3,"Wal-Mart Stores, Inc.",4,General Merchandisers,AR,"9,362,700",1996,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Bentonville
4,4,AT&T Corp.,5,Telecommunications,NY,"7,960,900",1996,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [4]:
# Generate list of cities that need coordinates

city_list = col_rename_df_updated['Headquarters_City']


city_list

0             Detroit
1            Dearborn
2                 NaN
3         Bentonville
4                 NaN
             ...
13935        New York
13936    Redwood City
13937      Hartsville
13938     Santa Clara
13939      Menlo Park
Name: Headquarters_City, Length: 13940, dtype: object

In [5]:
# Empty lists for holding data
lat = []
lng = []
city = []
skip_list = []

In [6]:
# Record coordinates for each city
# This cell takes a LONG TIME to run

for i in city_list:
    if i in city or i is None or i in skip_list:
        pass
    else:
        try:
            location = geolocator.geocode(i)
            lat.append(location.latitude)
            lng.append(location.longitude)
            city.append(i)
            print(f'Adding coordinates for {i} to list')
            time.sleep(1)
        except:
            print(f'Skpping {i}')
            skip_list.append(i)
            time.sleep(1)

Adding coordinates for Detroit to list
Adding coordinates for Dearborn to list
Adding coordinates for nan to list
Adding coordinates for Bentonville to list
Adding coordinates for Armonk to list
Adding coordinates for Fairfield to list
Adding coordinates for Cincinnati to list
Adding coordinates for San Ramon to list
Adding coordinates for Palo Alto to list
Adding coordinates for Purchase to list
Adding coordinates for Schaumburg to list
Adding coordinates for New York to list
Adding coordinates for Bethesda to list
Adding coordinates for Hartford to list
Adding coordinates for Northbrook to list
Adding coordinates for Plano to list
Adding coordinates for Midland to list
Adding coordinates for Memphis to list
Adding coordinates for Chicago to list
Adding coordinates for Stamford to list
Adding coordinates for New Brunswick to list
Adding coordinates for Atlanta to list
Adding coordinates for Downers Grove to list
Adding coordinates for Fort Worth to list
Adding coordinates for Whitehouse Station to list
Adding coordinates for Santa Clara to list
Adding coordinates for Peoria to list
Adding coordinates for Rochester to list
Adding coordinates for Elk Grove Township to list
Adding coordinates for Irving to list
Adding coordinates for San Francisco to list
Adding coordinates for Akron to list
Adding coordinates for St. Louis to list
Adding coordinates for Burbank to list
Adding coordinates for Jacksonville to list
Adding coordinates for Federal Way to list
Adding coordinates for Waltham to list
Adding coordinates for Milwaukee to list
Skpping Los Angeles
Adding coordinates for Deerfield to list
Adding coordinates for Moline to list
Adding coordinates for Abbott Park to list
Adding coordinates for Lakeland to list
Adding coordinates for Boston to list
Adding coordinates for Omaha to list
Adding coordinates for Rosemead to list
Adding coordinates for Minneapolis to list
Adding coordinates for Benton Harbor to list
Adding coordinates for Pittsburgh to list
Skpping Dublin
Adding coordinates for Toledo to list
Adding coordinates for Camden to list
Adding coordinates for Battle Creek to list
Adding coordinates for Cleveland to list
Adding coordinates for Springfield to list
Adding coordinates for Philadelphia to list
Adding coordinates for San Antonio to list
Adding coordinates for Blue Bell to list
Adding coordinates for White Plains to list
Adding coordinates for Warrenville to list
Adding coordinates for New Orleans to list
Adding coordinates for Newark to list
Adding coordinates for Houston to list
Adding coordinates for Redmond to list
Adding coordinates for Centennial to list
Adding coordinates for Columbus to list
Adding coordinates for Juno Beach to list
Adding coordinates for Richmond to list
Adding coordinates for Towson to list
Adding coordinates for Springdale to list
Adding coordinates for Delray Beach to list
Adding coordinates for Piscataway to list
Adding coordinates for Miami to list
Adding coordinates for Kenilworth to list
Adding coordinates for Richfield to list
Adding coordinates for Kingsport to list
Adding coordinates for Taylor to list
Adding coordinates for Beaverton to list
Adding coordinates for Norfolk to list
Adding coordinates for Camp Hill to list
Adding coordinates for Framingham to list
Skpping Phoenix
Adding coordinates for Westlake Village to list
Adding coordinates for Seattle to list
Adding coordinates for Greenwood Village to list
Adding coordinates for Allentown to list
Adding coordinates for Jackson to list
Adding coordinates for Perrysburg to list
Adding coordinates for Charlotte to list
Adding coordinates for El Segundo to list
Adding coordinates for Falls Church to list
Adding coordinates for Melbourne to list
Adding coordinates for Dallas to list
Adding coordinates for Lake Forest to list
Adding coordinates for Danbury to list
Adding coordinates for Pasadena to list
Adding coordinates for Little Rock to list
Adding coordinates for Clearwater to list
Adding coordinates for Austin to list
Adding coordinates for Mayfield Village to list
Adding coordinates for Mechanicsville to list
Adding coordinates for Redwood City to list
Adding coordinates for Boise to list
Adding coordinates for Roseland to list
Adding coordinates for Carmel to list
Adding coordinates for Tulsa to list
Adding coordinates for Franklin Lakes to list
Adding coordinates for Troy to list
Adding coordinates for Walnut Creek to list
Adding coordinates for Broomfield to list
Adding coordinates for Sunnyvale to list
Adding coordinates for Washington to list
Adding coordinates for Pleasanton to list
Adding coordinates for Covington to list
Adding coordinates for Providence to list
Adding coordinates for Tempe to list
Adding coordinates for Louisville to list
Adding coordinates for Southfield to list
Adding coordinates for McLean to list
Adding coordinates for Corning to list
Adding coordinates for San Jose to list
Adding coordinates for Beverly Hills to list
Adding coordinates for Madison to list
Skpping Orlando
Adding coordinates for Milpitas to list
Adding coordinates for Natick to list
Adding coordinates for Dayton to list
Adding coordinates for Smithfield to list
Adding coordinates for Duluth to list
Adding coordinates for Hopkinton to list
Adding coordinates for Glenview to list
Adding coordinates for Fort Lauderdale to list
Adding coordinates for Eden Prairie to list
Adding coordinates for Oak Brook to list
Adding coordinates for Des Moines to list
Adding coordinates for San Diego to list
Adding coordinates for Auburn Hills to list
Adding coordinates for Goodlettsville to list
Adding coordinates for Birmingham to list
Adding coordinates for Bloomfield Hills to list
Adding coordinates for Issaquah to list
Adding coordinates for Morristown to list
Adding coordinates for Eagan to list
Adding coordinates for Berlin to list
Adding coordinates for Nashville to list
Adding coordinates for West Chester to list
Adding coordinates for Oakland to list
Adding coordinates for Denver to list
Adding coordinates for Baltimore to list
Adding coordinates for Carthage to list
Adding coordinates for Merrillville to list
Adding coordinates for Calhoun to list
Adding coordinates for Bloomington to list
Adding coordinates for Murray Hill to list
Adding coordinates for Somers to list
Adding coordinates for The Woodlands to list
Adding coordinates for Brooklyn to list
Adding coordinates for El Dorado to list
Adding coordinates for Middletown to list
Adding coordinates for Raleigh to list
Adding coordinates for Lexington to list
Adding coordinates for Thousand Oaks to list
Skpping St. Petersburg
Adding coordinates for Norwalk to list
Adding coordinates for Columbia to list
Adding coordinates for Lyndhurst to list
Adding coordinates for Wilmington to list
Adding coordinates for Van Buren Township to list
Adding coordinates for Chesterbrook to list
Adding coordinates for Indianapolis to list
Adding coordinates for Melville to list
Adding coordinates for Maryland Heights to list
Adding coordinates for Basking Ridge to list
Adding coordinates for Winston-Salem to list
Adding coordinates for Englewood to list
Adding coordinates for Glen Allen to list
Adding coordinates for New Gloucester to list
Adding coordinates for Santa Ana to list
Adding coordinates for Matthews to list
Adding coordinates for Oklahoma City to list
Adding coordinates for Elmwood Park to list
Adding coordinates for Mooresville to list
Adding coordinates for St. Paul to list
Adding coordinates for Wayne to list
Adding coordinates for Menomonee Falls to list
Adding coordinates for Calabasas to list
Adding coordinates for Las Vegas to list
Adding coordinates for Lansing to list
Adding coordinates for Erie to list
Adding coordinates for Kansas City to list
Adding coordinates for Roanoke to list
Adding coordinates for King of Prussia to list
Adding coordinates for Reston to list
Adding coordinates for Baton Rouge to list
Adding coordinates for Kalamazoo to list
Adding coordinates for Round Rock to list
Adding coordinates for Decatur to list
Adding coordinates for Arlington to list
Adding coordinates for Inver Grove Heights to list
Adding coordinates for Arden Hills to list
Adding coordinates for Vernon Hills to list
Adding coordinates for Bethpage to list
Adding coordinates for Westport to list
Adding coordinates for Canton to list
Adding coordinates for Union to list
Adding coordinates for Naperville to list
Adding coordinates for Warren to list
Adding coordinates for Livonia to list
Adding coordinates for Woodland Hills to list
Adding coordinates for Greensboro to list
Adding coordinates for Pittsburg to list
Adding coordinates for Greenwich to list
Adding coordinates for Red Bank to list
Adding coordinates for Horsham to list
Adding coordinates for Hoffman Estates to list
Adding coordinates for Minnetonka to list
Adding coordinates for Salt Lake City to list
Adding coordinates for Overland Park to list
Adding coordinates for Mountain View to list
Adding coordinates for Newport Beach to list
Adding coordinates for Hershey to list
Adding coordinates for Plymouth to list
Adding coordinates for San Mateo to list
Adding coordinates for Wickliffe to list
Adding coordinates for Fairport to list
Adding coordinates for Brookfield to list
Adding coordinates for Woonsocket to list
Adding coordinates for Cupertino to list
Adding coordinates for Bellevue to list
Adding coordinates for Chattanooga to list
Adding coordinates for Greeley to list
Adding coordinates for Park Ridge to list
Adding coordinates for Parsippany to list
Adding coordinates for Fremont to list
Adding coordinates for Princeton to list
Adding coordinates for Grapevine to list
Adding coordinates for Sanford to list
Adding coordinates for Beachwood to list
Adding coordinates for Franklin to list
Adding coordinates for Buffalo to list
Adding coordinates for Northfield to list
Adding coordinates for El Paso to list
Adding coordinates for Montvale to list
Adding coordinates for Oshkosh to list
Adding coordinates for Westlake to list
Adding coordinates for Portland to list
Adding coordinates for Rye to list
Adding coordinates for Menlo Park to list
Adding coordinates for Altamonte Springs to list
Adding coordinates for Fort Wayne to list
Adding coordinates for Riverwoods to list
Adding coordinates for Greenville to list
Adding coordinates for Tampa to list
Adding coordinates for Fort Mill to list
Adding coordinates for Highland Heights to list
Adding coordinates for Foster City to list
Adding coordinates for Canonsburg to list
Adding coordinates for Sugar Land to list
Adding coordinates for Bismarck to list
Adding coordinates for Manitowoc to list
Adding coordinates for Cedar Rapids to list
Adding coordinates for Rye Brook to list
Adding coordinates for Irvine to list
Adding coordinates for Chesapeake to list
Adding coordinates for Chesterfield to list
Adding coordinates for Virginia Beach to list
Adding coordinates for Sylmar to list
Adding coordinates for South San Francisco to list
Adding coordinates for Monroe to list
Adding coordinates for Burlington to list
Adding coordinates for Naples to list
Adding coordinates for Cambridge to list
Adding coordinates for Coraopolis to list
Adding coordinates for Radnor to list
Adding coordinates for Islandia to list
Adding coordinates for Ankeny to list
Adding coordinates for New Britain to list
Adding coordinates for Ann Arbor to list
Adding coordinates for Neenah to list
Adding coordinates for Orrville to list
Adding coordinates for Teaneck to list
Adding coordinates for Shawnee Mission to list
Adding coordinates for Findlay to list
Adding coordinates for Libertyville to list
Adding coordinates for Bristol to list
Adding coordinates for Westchester to list
Adding coordinates for Norcross to list
Adding coordinates for Rockville to list
Adding coordinates for Corpus Christi to list
Adding coordinates for Richardson to list
Adding coordinates for Summit to list
Adding coordinates for Long Beach to list
Adding coordinates for Morris Township to list
Adding coordinates for Bloomfield to list
Adding coordinates for Rosemont to list
Adding coordinates for North Chicago to list
Adding coordinates for Boca Raton to list
Adding coordinates for Lisle to list
Adding coordinates for Brentwood to list
Adding coordinates for Grand Rapids to list
Adding coordinates for Marlborough to list
Adding coordinates for Newport News to list
Adding coordinates for Wichita to list
Adding coordinates for Cary to list
Adding coordinates for Maumee to list
Adding coordinates for Des Peres to list
Adding coordinates for Glendale to list
Adding coordinates for Silver Spring to list
Adding coordinates for Lowell to list
Adding coordinates for Santa Monica to list
Adding coordinates for Long Island City to list
Adding coordinates for Los Gatos to list
Adding coordinates for Durham to list
Adding coordinates for Medford to list
Adding coordinates for Wallingford to list
Adding coordinates for Suwanee to list
Adding coordinates for Estero to list
Adding coordinates for Bannockburn to list
Adding coordinates for Victor to list
Adding coordinates for Warsaw to list
Adding coordinates for Kennett Square to list
Adding coordinates for Itasca to list
Adding coordinates for Mahwah to list
Adding coordinates for Evansville to list
Adding coordinates for Clayton to list
Adding coordinates for Tysons to list
Adding coordinates for Elkhart to list
Adding coordinates for Everett to list
Adding coordinates for Coral Gables to list
Adding coordinates for Florham Park to list
Adding coordinates for Bolingbrook to list
Adding coordinates for Tarrytown to list
Adding coordinates for Scottsdale to list
Skpping Medina
Adding coordinates for Westborough to list
Adding coordinates for Herndon to list
Adding coordinates for Norwood to list
Adding coordinates for Hickory to list
Adding coordinates for Johnston to list
Adding coordinates for New Braunfels to list
Adding coordinates for North Kansas City to list
Adding coordinates for Palm Beach Gardens to list
Adding coordinates for Farmington to list
Adding coordinates for Dania Beach to list
Adding coordinates for Hunt Valley to list
Adding coordinates for Katy to list
Adding coordinates for Winona to list
Adding coordinates for Mechanicsburg to list
Adding coordinates for Sarasota to list
Adding coordinates for Pawtucket to list
Adding coordinates for Lincolnshire to list
Adding coordinates for Reynoldsburg to list
Adding coordinates for Spring to list
Adding coordinates for Sumner to list
Adding coordinates for Manhattan Beach to list
Adding coordinates for Hartsville to list

In [7]:
# Create dataframe for merging
city_df = pd.DataFrame({
    'Headquarters_City': city,
    'Latitude': lat,
    'Longitude': lng
})

In [8]:
# Merge coordinates to the col_rename_df_updated
merged_col_rename_df_updated = col_rename_df_updated.merge(city_df,on='Headquarters_City', how='left')
merged_col_rename_df_updated

,Unnamed: 0,Name,Rank,Industry,Headquarters_State,Revenues,Year,Revenue_Percent_Change,Profits,Profits_Percent_Change,...,Sector,Revenues_($M),Profits_($M),Employees,Global_500,Change_in_Rank_(Full 1000),Change_in_Rank_(500 only),Headquarters_City,Latitude,Longitude
0,0,General Motors Corporation,1,Motor Vehicles and Parts,MI,"16,882,860",1996,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Detroit,42.331551,-83.046640
1,1,Ford Motor Company,2,Motor Vehicles and Parts,MI,"13,713,700",1996,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Dearborn,42.322260,-83.176315
2,2,Exxon Corporation,3,Petroleum Refining,TX,"11,000,900",1996,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,46.314475,11.048029
3,3,"Wal-Mart Stores, Inc.",4,General Merchandisers,AR,"9,362,700",1996,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Bentonville,36.372854,-94.208817
4,4,AT&T Corp.,5,Telecommunications,NY,"7,960,900",1996,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,46.314475,11.048029
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
13935,13935,KKR,496,Securities,NY,NaN,2023,-72.2%,NaN,-118%,...,Financials,"$7,273",$-841,"4,150",no,-358.0,-358.0,New York,40.712728,-74.006015
13936,13936,Equinix,497,Real estate,CA,NaN,2023,9.5%,NaN,40.8%,...,Financials,"$7,263",$704,"12,097",no,-10.0,-10.0,Redwood City,37.486324,-122.232523
13937,13937,Sonoco Products,498,"Packaging, Containers",SC,NaN,2023,29.7%,NaN,NaN,...,Materials,"$7,251",$466,"22,000",no,58.0,NaN,Hartsville,42.247015,-77.693881
13938,13938,ServiceNow,499,Computer Software,CA,NaN,2023,22.9%,NaN,41.3%,...,Technology,"$7,245",$325,"20,433",no,32.0,NaN,Santa Clara,37.233325,-121.684635
13939,13939,Robert Half International,500,Temporary Help,CA,NaN,2023,12%,NaN,9.9%,...,Business Services,"$7,238",$658,"16,300",no,-6.0,-6.0,Menlo Park,37.451967,-122.177992

In [9]:
# Generate list of states that need coordinates
state_list = []


for i in range(len(merged_col_rename_df_updated)):
    if merged_col_rename_df_updated['Headquarters_City'][i] == None:
        item = merged_col_rename_df_updated['Headquarters_State'][i]
        state_list.append(item)

In [10]:
# Generate empty lists to hold data
lat = []
lng = []
state = []

In [11]:
# Record coordinates for each state, when city is unavailable
for i in state_list:
    if i in state or i is None:
        pass
    else:
        try:
            location = geolocator.geocode(i)
            lat.append(location.latitude)
            lng.append(location.longitude)
            state.append(i)
            print(f'Adding coordinates for {i} to list')
            time.sleep(1)
        except:
            print(f'Skpping {i}')

In [12]:
# Generate dataframe of state coordinates
state_df = pd.DataFrame({
    'Headquarters_State': state,
    'Latitude': lat,
    'Longitude': lng
})

In [13]:
# Add coordinates to the merged dataframe
for i in range(len(merged_col_rename_df_updated)):
    if merged_col_rename_df_updated['Headquarters_City'][i] == None:
        merged_col_rename_df_updated['Latitude'][i] = state_df['Latitude'].loc[state_df['Headquarters_State'] == merged_col_rename_df_updated['Headquarters_State'][i]]
        merged_col_rename_df_updated['Longitude'][i] = state_df['Longitude'].loc[state_df['Headquarters_State'] == merged_col_rename_df_updated['Headquarters_State'][i]]

In [14]:
merged_col_rename_df_updated

,Unnamed: 0,Name,Rank,Industry,Headquarters_State,Revenues,Year,Revenue_Percent_Change,Profits,Profits_Percent_Change,...,Sector,Revenues_($M),Profits_($M),Employees,Global_500,Change_in_Rank_(Full 1000),Change_in_Rank_(500 only),Headquarters_City,Latitude,Longitude
0,0,General Motors Corporation,1,Motor Vehicles and Parts,MI,"16,882,860",1996,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Detroit,42.331551,-83.046640
1,1,Ford Motor Company,2,Motor Vehicles and Parts,MI,"13,713,700",1996,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Dearborn,42.322260,-83.176315
2,2,Exxon Corporation,3,Petroleum Refining,TX,"11,000,900",1996,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,46.314475,11.048029
3,3,"Wal-Mart Stores, Inc.",4,General Merchandisers,AR,"9,362,700",1996,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Bentonville,36.372854,-94.208817
4,4,AT&T Corp.,5,Telecommunications,NY,"7,960,900",1996,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,46.314475,11.048029
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
13935,13935,KKR,496,Securities,NY,NaN,2023,-72.2%,NaN,-118%,...,Financials,"$7,273",$-841,"4,150",no,-358.0,-358.0,New York,40.712728,-74.006015
13936,13936,Equinix,497,Real estate,CA,NaN,2023,9.5%,NaN,40.8%,...,Financials,"$7,263",$704,"12,097",no,-10.0,-10.0,Redwood City,37.486324,-122.232523
13937,13937,Sonoco Products,498,"Packaging, Containers",SC,NaN,2023,29.7%,NaN,NaN,...,Materials,"$7,251",$466,"22,000",no,58.0,NaN,Hartsville,42.247015,-77.693881
13938,13938,ServiceNow,499,Computer Software,CA,NaN,2023,22.9%,NaN,41.3%,...,Technology,"$7,245",$325,"20,433",no,32.0,NaN,Santa Clara,37.233325,-121.684635
13939,13939,Robert Half International,500,Temporary Help,CA,NaN,2023,12%,NaN,9.9%,...,Business Services,"$7,238",$658,"16,300",no,-6.0,-6.0,Menlo Park,37.451967,-122.177992

In [15]:
# Export data
merged_col_rename_df_updated.to_csv('Resources/merged_col_rename_df_updated.csv')